<a href="https://colab.research.google.com/github/ASHTYAGI2911/Python3/blob/master/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loop

In [0]:
i = range(20)
for j in i:
  print(j, end=" ")

In [0]:
for i in range(10):
  print(i, end=" ")

In [0]:
a = "Satvik Tyagi"
for i in a:
  print(i, end=" ")

In [0]:
help()

In [0]:
a = [1, 2, 4, 6, "Ashish", "Satvik", 3.14]
for i in a:
  print(i, end=" ")

In [0]:
a = int(input("Enter a number that no. ot  times you want to print.:- "))
b = input("Enter a symbol that you want to print.:- ")
for i in range(a):
  print(b, end=" ")

**Print perfect squre number between 1 to 500**

In [0]:
for i in range(1, 501):
  j = i * i
  print(j, end=" ")

# For else

In [0]:
num = [20, 10, 15, 35, 21, 33, 76]

for n in num:
  if (n % 5 == 0):
    print(n)

In [0]:
num = [20, 10, 15, 35, 21, 33, 76]

for n in num:
  if (n % 5 == 0):
    print(n)
    break

*Here for loop has an else statement*

In [0]:
num = [21, 11, 15, 35, 21, 33, 75]

for n in num:
  if (n % 2 == 0):
    print("Number found")
else:
  print("Number not found")