<a href="https://colab.research.google.com/github/ASHTYAGI2911/Python3/blob/master/Groupby_Data_Analysis_with_Python_and_Pandas_p_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Groupby - Data Analysis with Python and Pandas p.3

# 3rd Video

[Groupby - Data Analysis with Python and Pandas p.3](https://www.youtube.com/watch?v=fPufVcItDzs&list=PLQVvvaa0QuDfSfqQuee6K8opKtZsh7sA9&index=3)

In [0]:
pip install pandas matplotlib

In [0]:
import pandas as pd

from google.colab import files

load_here = files.upload()

In [0]:
load_here

In [0]:
import io

df = pd.read_csv(io.StringIO(load_here["Minimum Wage Data.csv"].decode("latin")))

In [0]:
df.to_csv("minwage.csv", encoding="utf-8", index=False)

In [0]:
df = pd.read_csv("minwage.csv", encoding="utf-8")

df = df.copy()

In [0]:
df.head()

In [0]:
# df.set_index("Year")

gb = df.groupby("State")

gb.head()

gb.get_group("Alabama").set_index("Year").head()

In [0]:
gb.head()

In [0]:
act_min_wage = pd.DataFrame()

for name, group in df.groupby("State"):
  
  # print(name, group)
  
  if act_min_wage.empty:
    
    act_min_wage = group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name})
    
  else:
    
    act_min_wage = act_min_wage.join(group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name}))

act_min_wage.head()

In [0]:
act_min_wage.describe()

In [0]:
act_min_wage.corr().head()

In [0]:
df[df["State"] == "Alabama"]

In [0]:
issue_df = df[ df["Low.2018"] == 0]

issue_df.head()

In [0]:
issue_df["State"].unique()

In [0]:
import numpy as np

# here axis = 1 because we want to remove columns, 0 if rows
act_min_wage.replace(0, np.NaN).dropna(axis=1)

act_min_wage.replace(0, np.NaN).dropna(axis=1).corr().head()