<a href="https://colab.research.google.com/github/ASHTYAGI2911/Python3/blob/master/Python_Pandas_tutorials_3_By_CodeBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Pandas tutorials 3 By CodeBasics

In [0]:
import pandas as pd
from google.colab import files
import io

In [0]:
load_here = files.upload()

In [0]:
df = pd.read_csv(io.StringIO(load_here["weather_data2.csv"].decode("utf-8")))
df

In [0]:
df = df[["day", "temperature", "windspeed", "event"]]

In [0]:
df

Video 4

In [0]:
load_here = files.upload()

In [0]:
df = pd.read_csv(io.StringIO(load_here["stock_data.csv"].decode("utf-8")), skiprows=1, header=False)
df

In [0]:
df = pd.read_csv(io.StringIO(load_here["stock_data.csv"].decode("utf-8")), header=None, names=["tickers", "eps", "revenue", "price", "people"])
df

In [0]:
df = pd.read_csv(io.StringIO(load_here["stock_data.csv"].decode("utf-8")), nrows=3)
df

In [0]:
df = pd.read_csv(io.StringIO(load_here["stock_data.csv"].decode("utf-8")), na_values=["not available", "n.a."])

df = pd.read_csv(io.StringIO(load_here["stock_data.csv"].decode("utf-8")), na_values={
    "revenue" : ["not available", "n.a.", -1],
    "eps" : ["not available", "n.a."],
    "people" : ["not available", "n.a."]    
})
df

In [0]:
df.to_csv("Newcsv.csv", index=False, columns=["eps", "price"], header=False)

In [0]:
df.to_excel("Newexcel.xlsx", sheet_name="Sheet1", startrow=1, startcol=2)

In [0]:
df_Stocks
df_Weather

In [0]:
with pd.ExcelWriter("Ecel_with_2_sheets.xlsx") as writer:
  df_stocks.to_excel(writer, sheet_name="Stocks")
  df_Weather.to_excel(writer, sheet_name="Weather")

In [0]:
load_here = files.upload()

In [0]:
df = pd.read_csv(io.StringIO(load_here["NY_weather_data.csv"].decode("utf-8")), parse_dates=["day"])

#  or

df = pd.read_csv(io.StringIO(load_here["NY_weather_data.csv"].decode("utf-8")))
df["day"] = pd.to_datetime(df["day"])

type(df["day"][0])

In [0]:
df.set_index("day", inplace=True)
df

In [0]:
df_new = df.fillna(0)
df_new

In [0]:
df_new = df.fillna({
    "temperature" : 0,
    "windspeed" : 0,
    "event" : "No event"
})
df_new

In [0]:
df_new = df.fillna(method="ffill")
df_new

In [0]:
df_new = df.fillna(method="bfill")
df_new

In [0]:
df_new = df.fillna(method="ffill", axis="columns", limit=2)
df_new

In [0]:
df_new = df.interpolate(method="time")
df_new

In [0]:
df_new = df.dropna()
df_new

In [0]:
df_new = df.dropna(how="all")
df_new

In [0]:
df_new = df.dropna(thresh=2)
df_new

In [0]:
import numpy as np
df_new = df.replace([-999999,-888888], np.NaN)
df_new

In [0]:
df_new = df.replace({
    "temperature" : -9999999999,
    "windspeed" : -88888888,
    "event" : 0
}, np.NaN)
df_new

In [0]:
df_new = df.replace({
    "temperature" : "[A-Za-z]",
    "windspeed" : "[A-Za-z]"
}," ",regex=True)
df_new

In [0]:
g = df.groupby("cities")

g.get_group("mumbai")

g.mean()

g.max()

g.describe()

In [0]:
%matplotlib inline
g.plot()

In [0]:
df1
df2

In [0]:
df_new = pd.merge(df1, df2, on="city", how="inner", indicator=True)          # inner by default, outer, right, left
df_new

In [0]:
df.pivot(index="Date", columns="City", values="Humidity")

In [0]:
df.pivot_table(index="Date", columns="City", aggfunc="sum", margins=True)     # aggfunc="mean" by default

In [0]:
df.pivot_table(index=pd.Grouper(freq="M", key="date"), columns="city")

In [0]:
df1 = pd.melt(df, id_vars=["day"], var_name="City", value_name="Temperature")
df1

In [0]:
df = read_excel("Weather.xlsx", "Sheet1", header=[0,1])    # because file have 2 header 
df

In [0]:
df.stack()   # By default level = 1

In [0]:
df.stack(level=0)

In [0]:
df_stacked = df.stack()
df_stacked

In [0]:
df_stacked.unstack()   # unstacked in the orignal format

In [0]:
pd.crosstab(df["nationalaty"], [df["sex"], df["hendedness"]], margins=True)

In [0]:
import numpy as np
pd.crosstab(df["sex"], df["hendedness"], values=df["age"], aggfunc=np.average )