<a href="https://colab.research.google.com/github/ASHTYAGI2911/Python3/blob/master/Variables_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables in Python

Below code will create x, y, z & a different type variables

In [0]:
x = 1
y = 1.5
z = "Satvik Tyagi"
a = True

This is how we can find the data type of variable

In [0]:
print(type(x))

<class 'int'>

In [0]:
print(type(y), "\n", type(z), "\n", type(a))

<class 'float'>
 <class 'str'>
 <class 'bool'>

In [0]:
x = 1.0
print(type(x))

<class 'float'>

By **id()** we can find the address of any variable

In [0]:
print(id(x))

140576459604712

As below we can convert the type of variable

In [0]:
x = float(a)
print(x)

1.0

In [0]:
x = 1
print("x is ", x, " and its type is ", type(x))
x = float(x)
print("x is ", x, " and its type is ", type(x))

x is  1  and its type is  <class 'int'>
x is  1.0  and its type is  <class 'float'>